@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Karla&display=swap");

.logo a{
    color: orange;
    transition: all .3s ease;
    font-size: 1.6rem;
    font-weight: bold;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.item{
    width: 25%;
    
    
}
.item:nth-child(3){
    margin-left: 1.1rem;
}
.item a{
    transition: .3s;
    font-size: .9rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
.item:hover a{
    font-family:"Fredoka One", cursiv;
    color: yellow;
    transform:skewY(-10deg);
}
.photos{
    position: relative;
    flex: 0 0 55%;
    height:30rem;
}
.photos .img1{
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right bottom, rgba(120, 18, 192, 0.527), rgba(0, 0, 255, 0.308)), url(../img/aa.jpg);
    height: 88%;
    background-size: cover;
    width: 83%;
    z-index: 10;
}
.photos .img2{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 65%;
    background-image: linear-gradient(to right top, rgb(237, 253, 7), rgb(233, 73, 233));
    z-index: 1;

}

.heading{
    margin-top: 4.5rem;
    font-family:"Fredoka One", cursiv; 
    text-transform: uppercase;
    font-size: 2.71rem;
    color: rgb(40, 119, 209);
}
.heading-2{
    flex:1;
    background-color: turquoise;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}
.p1{
    margin-top: 1rem;
    margin-right: .5rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.nn{
    font-size: .83rem;
    line-height: 25px;
    padding:0 1rem;
    color: rgba(255, 255, 255, 0.664);
    font-weight: 100;
}
.modules{
    position: absolute;
    background-color: lawngreen;
    width: 66%;
    height: 130px;
    right: 3rem;
    bottom: 3.3rem;
    z-index: 1000;
    display: flex;
}
.blog{
    width: 25%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog img{
    height: 1.7rem;
    width: 1.7rem;
    
    -webkit-background-clip: text;
    color: transparent;
}
.bg-1{
    background-color: rgb(58, 247, 247);
}
.bg-2{
    background-color: rgb(237, 253, 7);
}
.bg-3{
    background-color: violet;
}
.bg-4{
    background-color: rgb(36, 164, 238);
}

.ring{
    font-size: 1.2rem;
    font-family:"Fredoka One", cursiv; 
    font-weight: 300;
    color: rgba(65, 63, 63, 0.603);
    margin-top: .6rem;
}